

<app-navbar [userName]="userName" ></app-navbar>
<div class="container">

  <div class="row my-3">
      <div class="col-md-6">
        <h2>Mes amis</h2>
      </div>
      <div class="col-md-6 text-right">
    
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" (click)="goTo()">
          New
        </button> -->
      </div>
    </div>
    
  
    
    <div class="row my-4">
      <div class="col-md-6" *ngFor="let address of addresses ; let i = index" >
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">
            <li class="list-group-item"> <strong>Pangoline: </strong><strong> {{ i}}</strong></li>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush"  >
                
        
              <li class="list-group-item"> <strong>Race: </strong><strong> {{address.name}}</strong></li>
              <li class="list-group-item"> <strong>Age: </strong><strong> {{ address.age }}</strong></li>
              <li class="list-group-item"> <strong>Email: </strong><strong> {{ address.email }}</strong></li>
  
             <li class="list-group-item"> <strong>Nourriture: </strong><strong> {{ address.nourriture }}</strong></li>
           
            <li class="list-group-item"> <strong>Famille: </strong><strong> {{ address.famille }}</strong></li>
            <li class="list-group-item"> <strong>Race: </strong><strong> {{ address.race }}</strong></li>
  
  
            <div class="row">
              <!-- <button type="button" class="btn btn-primary mr-2 col-3" style="margin-right: 20px; margin-top: 10px;" (click)="edit(address._id)">Edit</button> -->
              <button type="button" class="btn btn-dark mr-2 col-3" (click)="delete(address._id, i)" style="margin-top: 10px;">Retirer</button>
              <!-- <button type="button" class="btn btn-dark mr-2 col-3" (click)="delete(address._id, i)" style="margin-left: 10px; margin-top: 10px;">Ajoute</button> -->
  
            </div>
            
  
          </ul>
          </div>
        </div>
      </div>
    </div>
</div>
